.main {
  padding-top: 60px;
}

.country-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}


.search-country {
  background: var(--cor-white);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: var(--bxs-p1);
  max-width: 440px;
}

.search-input {
  background: var(--cor-white);
  color: var(--cor-p1);
  padding: 10px;
  width: 350px;
}

.search-input::placeholder {
  color: var(--cor-s3);
  opacity: 0.6;
}

.search-input:focus {
  outline: none;
}

.search-country svg {
  margin-top: 5px;
}

.filter-country {
  position: relative;
  z-index: 10;
  max-width: 200px;
}
.filter-label {
  background: var(--cor-white);
  padding: 15px;
  border-radius: 5px;
  box-shadow: var(--bxs-p2);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.filter-list {
  background: var(--cor-white);
  padding: 15px;
  line-height: 1.750rem;
  border-radius: 5px;
  box-shadow: var(--bxs-p2);
  position: absolute;
  width: calc(100% - 30px);
  margin-top: 5px;
  
}

.filter-list li {
  cursor: pointer;
}

.filter-list li:hover {
  opacity: 0.6;
}

.nav-filter {
  display: none;
}

.filter-label.active + .nav-filter {
  display: block;
  animation-name: animaFilter;
  animation-duration: 0.5s;
}

.filter-label svg {
  transition: 0.3s ease-in-out;
}

.filter-label.active svg {
  transform: rotate(90deg);
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.country-item {
  background: var(--cor-white);
  box-shadow: var(--bxs-p2);
  flex: 1 0 214px;
  max-width: 280px;
  border-radius: 5px;
  cursor: pointer;
}

.country-img {
  height: 150px;
  box-shadow: var(--bxs-p1);
}

.country-img img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.country-info {
  padding: 20px;
}
.country-name {
  margin-bottom: 10px;
}
.country-data li{
  margin-bottom: 5px;
}
.country-data span{
  font: 400 1rem 'Nunito Sans', sans-serif;
}


@media(max-width: 800px) {
  .main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .country-header {
    flex-direction: column;
    gap: 40px;
  }
  .search-country {
    padding: 4px 20px;
  }
}

@keyframes animaFilter {
  from {
    opacity: 0;
    transform: translate3d(0,-50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}