body,h1,h2,h3,div,p,ul,li,a {
  padding: 0px;
  margin: 0px;
}
button,input {
  border: none;
}
button {
  display: inline-block;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  background: var(--cor-s1);
  color: var(--cor-p1);
  position: relative;
  transition: 0.1s ease-in-out;
}

.dark{
  transition: 0.1s ease-in-out;
  animation-name: animaDark;
  animation-duration: 0.5s;
}

@keyframes animaDark {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

@media(max-width: 700px) {
  .container {
    padding: 20px;
  }
}
@media(max-width: 400px) {
  .container {
    padding: 15px;
  }
}

.header-bg {
  background: var(--cor-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.svg-moon {
  margin-top: 4px;
}

@media(max-width: 450px) {
  .svg-moon {
    width: 15px;
  }
}


.dark-mode:hover .svg-moon path{
  fill: currentColor;
}

.dark .svg-moon path{
  fill: currentColor;
}

.svg-moon path {
  transition: 1s ease-in-out;
}

.dark .dark-mode:hover .svg-moon path{
  fill: none;
}

.dark-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: none;
  color: var(--cor-p1);
}