.country-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  box-shadow: var(--bxs-p3);
}

.country-modal {
  margin-top: 10px;
}

.country-modal-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  animation: animaModal;
  animation-duration: 0.5s;
}

.country-modal-main.active .country-modal-content {
  animation: animaModalBorderCountry;
  animation-duration: 0.5s;
}

.country-modal-main.active .country-modal-img {
  animation: animaModalBorderCountry;
  animation-duration: 0.5s;
}

.modal-back {
  margin-bottom: 50px;
}

.country-modal-btn-back {
  background: var(--cor-white);
  color: var(--cor-p1);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: var(--bxs-p2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.country-modal-btn-back:hover {
  background: var(--cor-btn);
  color: var(--cor-btn-2);
}

.country-modal-img {
  display: flex;
  max-width: 500px;
  max-height: 350px;
  margin-right: 40px;
}
.modal-img {
  height: 100%;
  width: 100%;
}

.country-modal-content {
  align-self: center;
  
}

.country-modal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.country-modal-data li{
  margin-bottom: 5px;
}

.country-modal-data span {
  font-weight: 400;
}

.modal-name {
  margin-bottom: 25px;
}

.country-modal-list li {
  margin-bottom: 10px;
}

.list-2 {
  justify-self: end;
}


.border-countries p {
  margin-bottom: 20px;
}

.border-countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.btnBorderCountry {
  border-radius: 4px;
  background: var(--cor-white);
  color: var(--cor-p1);
  padding: 10px 30px;
  box-shadow: var(--bxs-p2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnBorderCountry:hover {
  background: var(--cor-btn);
  color: var(--cor-btn-2);
}

[data-modal="disabled"] {
  display: none;
}
[data-modal="active"] {
  display: block;
  background: var(--cor-s1);
}

@media(max-width: 1000px) {
  .country-modal-main {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .country-modal-img {
    margin: 0px;
    justify-self: center;
  }
  .list-2 {
    justify-self: center;
  }
}

@media(max-width: 600px) {
  .country-modal-data{
    grid-template-columns: 1fr;
  }
  .list-2 {
    justify-self: start;
  }
}

@keyframes animaModal {
  from {
    opacity: 0;
    transform: translate3d(0,-50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animaModalBorderCountry {
  from {
    opacity: 0;
    transform: translate3d(-50px,0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}